Add user:
<br>
<br>
<form method='post' action="/add">
  Name: <input type="text" name="name", method="post">
  <br>
  <br>
  Email: <input type="text" name="email", method="post">
    <br><br>
  <input type="submit" value="Submit">
</form>
<br>
<br>