My blog:
<br>
<br>
<form method='post' action="/blog">
  Title: <input type="text" name="title", method="post">
  <br>
  <br>
  Email: <input type="text" name="email", method="post">
    <br><br>
  <input type="submit" value="Submit">
</form>
<br>
<br>


<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
	<div class="row">
		<label for="blog_title">Title:</label><br />
		<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="message">Your message:</label><br />
		<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
	</div>
	<input id="submit_button" type="submit" value="Send email" />
</form>						