<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each users}}
      <a href='/profile/{{id}}'><li>{{name}} ({{email}})</li></a>
    {{/each}}
    </ul>
  </body>
</html>
